body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* กำหนดฟอนต์หลัก */
}
.login-container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-image: url('/public/amon.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112336;
}
    
.login-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #101d26;
    width: 600px;
    height: 500px;
}
    
.login-form h2 {
    margin-bottom: 60px;
    color: #f4f6f5;
    text-align: left;
    font-size: 40px;
}
  
h2 {
    font-weight: 700; 
}
    
.form-group {
    margin-bottom: 5px;
}
    
.form-group label {
    display: block;
    text-align: left;
    color: #f4f6f5;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* เพิ่มพื้นที่ด้านขวาสำหรับไอคอน */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.input-container .icon {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none; /* เพื่อไม่ให้ไอคอนรับเหตุการณ์การคลิก */
}

.input-container input:focus {
    border-color: #3e0d83;
    outline: none;
    box-shadow: 0 0 5px rgba(62, 13, 131, 0.5);
}


.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}


.register-container {
    display: flex;
    justify-content: flex-end;
}

.register-button {
    color: #3e0d83;
}


.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.login-button:hover {
    background-color: #121212;
}